{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'timeline_app/css/styles.css' %}">
  </head>
  <body>
    {% for timeline in timelines %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{timeline.timeline_name}}</h5>
        <a href="{% url 'timeline' pk=timeline.timeline_id %}" class="btn btn-primary">Edit</a>
      </div>
    <div/>
    {% endfor %}
  </body>
</html>