{% extends 'timeline_app/navbar.html' %}
{% load static %}
{% block contentblock %}
<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
    <link rel="stylesheet" href="{% static 'timeline_app/css/styles.css' %}">
  </head>

  <header id="subHeader">
      <div>
        <h1 class="subHeaderElement"> Timeline Projects </h1>
        <form method="POST" class="headerElement">
            {% csrf_token %}
            <input placeholder="Timeline Name" name ="timeline_name" type="text" class="subHeaderEntry">
            <button type="submit" class="btn btn-primary">Add Timeline</button>
        </form>
      </div>  
  </header>

  <body>
    {% for timeline in timelines %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{timeline.timeline_name}}</h5>
        <a href="{% url 'timeline' pk=timeline.timeline_id %}" class="btn btn-primary">Edit</a>
        <a href="delete-timeline/{{ timeline.timeline_id }}" class="btn btn-primary">Delete</a>
      </div>
    </div>
    {% endfor %}
  </body>
  
</html>
{% endblock %}