<!--Navbar Master Page-->
{% load static %}
<link rel="stylesheet" href="{% static 'timeline_app/css/styles.css' %}">
<div class="color1" 
    style="width: 100%; height: 64px; position: fixed; z-index: 999; top: 0; padding-left: 10px; background-color: darkgray;">
    <table style="border-radius: 2px; border-color: red; width: 100%;">
        <tr>
            <td>
                <!--Clicking logo takes user back to homepage-->
                <button 
                onmouseover="style='background: solid'"
                onmouseout="style= 'background: none; border: 0;'"
                style="background-color: rgb(151, 151, 151); background: none; border: 0;" onclick="location.href = '/'">
                    <img src="{% static 'timeline_app/images/logo.png'%}" alt="Timelines Logo" style="height: 48px; width: 48px;">
                </button>
            </td>
            <td style="padding-top: 10px;">
                <h1 style= "text-align: left;">Timelines</h1>
            </td>
            <td style="padding-right: 10%;">
                <button type="submit" style="float: right">Search</button><input #searchfield type="text" style="float: right; width: 70%;">
            </td>
        </tr>
    </table>   
</div>
<div style="height: 64px; width: 100%;"></div><!--temp buffer for content block-->
{% block contentblock %}
<!--No content goes here!-->
{% endblock %}