{% extends 'timeline_app/navbar.html' %}
{% block contentblock %}
  <header>
    <h1> Timeline Name </h1>
    <form method="POST">
      {% csrf_token %}
      <input placeholder="Title" name ="title" type="text">
      <input placeholder="Date (YYYY-MM-DD)" name ="date" type="datetime">
      <input placeholder="Description" name ="description" type="text">
      <button type="submit">Add Event</button>
    </form>
  </header>
  <body>
    <div class="timeline">

      {% for event in events %}
        {% cycle 'left' 'right' as left_right silent %}

        {% if left_right == 'left' %}
          <div class="box left">
            <div class="content">
              <h2>{{ event.title }}</h2>
              <h3> {{ event.date }} </h3>
              <p>{{ event.description }}</p>
            </div>
          </div>
        {% endif %}

        {% if left_right == 'right' %}
          <div class="box right">
            <div class="content">
              <h2>{{ event.title }}</h2>
              <h3> {{ event.date }} </h3>
              <p>{{ event.description }}</p>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </body>
{% endblock %} 