{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'timeline_app/css/styles.css' %}">
  </head>
  <header>
    <h1> Timeline Name </h1>
    <form method="POST">
      {% csrf token %}
      <input placeholder="Title" name ="title" type="text">
      <input placeholder="Date (YYYY-MM-DD)" name ="date" type="datetime">
      <input placeholder="Description" name ="description" type="text">
      <button type="submit">Add Event</button>
  </form>
  </header>
  <body>
    <div class="timeline">

      <div class="container left">
        <div class="content">
          <h2>Event 1</h2>
          <p>Event Description</p>
        </div>
      </div>

      <div class="container right">
        <div class="content">
          <h2>Event 2</h2>
          <p>Event Description</p>
        </div>
      </div>

    </div>
  </body>
</html>